# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://postgres:notrust@localhost:5432/students-manage?schema=public"

APP_KEY="a07f6ebae81e5ebb5963dbc4c70d0487045f81e48f74762f7a860bfeb1baaec6684986654d1da4da93d37ca9da5d1a1e9b83f5d074d020ce6acbb6d7265ef957ed6e0079a40f1e9a972b618a74d460f3e36edd4419155aa31c6fa9064a7a9fe6fa95d01df1378252ff198ec5d651adf3779cf9e7f973d3ba34bb0609dc8e1f01f74756b75735f1ce9dd3ef04319115abbbc63839da508cddb9b15229ffec72524e1ff6d4b0a1e5493a40a80e7ba7969b749bd2cc5dfbb9e5744f4da9d96ac000"